$red-color: #fc003d;
$grey-color: #41414c;

%buttot-style {
	border: none;
	outline: none;
	border-radius: 6px;
	height: 40px;
	font-size: 20px;
	color: rgb(255, 255, 255);
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.3);
}

*, *:before, *:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

.wrapper {
	min-width: 100vw;
	min-height: 100vh;
	

	& header {
		width: 100%;
		height: 60px;
		display: flex;
		align-items: center;
		padding: 0 40px;
		border-bottom: 5px solid $red-color;
		box-shadow: 0px 6px 22px -5px rgba(0,0,0,0.18);

		& .text-logo{
			font-weight: bold;
			font-style: italic;
			color: $grey-color;
			font-size: 30px;
		}
	}

	& footer {
		height: 100px;
		width: 100%;
		// border-top: 4px solid $red-color;
		background-color: $grey-color;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}




main {
	height: calc(100vh - 160px);
	padding: 34px 0 20px;

	& table {
		margin-bottom: 20px;
		position: relative;
		overflow: hidden;

		& caption{
			padding: 0;
		}

		& td {
			width: 33.33%;
			text-align: center;
			position: relative;
			border: 1px solid black !important;


			& .data-input {
				max-width: 100px;
				text-align: center;
				font-size: 20px;
				line-height: 20px;
				border-color: rgba(255, 255, 255, 0);
				
				&:hover {
					background-color: rgb(236, 236, 236);
				}
				&:focus {
					background-color: rgb(255, 255, 255);
				}
			}

			& .pencil {
				display: block;
				position: absolute;
				height: auto;
				width: 20px;
				top: 0;
				left: 62%;
			}

			& .btn-warp{
				position: absolute;
				display: flex;
				top: 0;
				left: 70%;
				

				& .btn-save {
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 3px;
					background-color: rgb(236, 236, 236);
					border: 2px solid rgb(195, 195, 195);
					color: rgb(0, 255, 0);
					width: 20px;
					height: 20px;

					& .icon-img {
						display: block;
						width: 100%;
						height: auto;
					}
				}

				& .btn-disabled {
					opacity: 0.25;
				}
	
				& .btn-cancel {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 1px;
					border-radius: 3px;
					background-color: rgb(236, 236, 236);
					border: 2px solid rgb(195, 195, 195);
					color: rgb(255, 0, 0);
					width: 20px;
					height: 20px;
					
					& .icon-img {
						display: block;
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}

.td-style {
	font-weight: bold;
	color: $grey-color;
}


.converter-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	& .converter {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
		position: relative;

		&-arrows-btn {
			width: 40px;
			outline: none;
			background-color: rgba(255, 255, 255, 0);
			border: none;
			border-radius: 8px;
			margin: 0 34px;
			transition-duration: 0.2s;

			&:hover {
				background-color: rgb(233, 233, 233);
			}

			& img {
				transform: rotate(90deg);
				width: 100%;
				height: auto;
			}
		}

		&-inputs {
			display: flex;

			& label {
				display: flex;
				flex-direction: column;

				& span {
					font-size: 20px;
					font-weight: bold;
					color: $grey-color;
					margin-bottom: 9px;
				}

				& input {
					border: none;
					border-bottom: 2px solid rgb(0, 0, 0);
					outline: none;
					padding-left: 7px;
					font-size: 19px;

					&:disabled {
						background-color: rgb(255, 255, 255);
					}
				}
			}

			& select{
				border: none;
				outline: none;
				font-weight: bold;
				background-color: rgba(255, 255, 255, 0);
				color: $grey-color;
				margin-left: 8px;
			}
		}
	}

	& .calc-btn {
		@extend %buttot-style;
		width: 120px;
		background-color: $red-color;
		color: rgb(255, 255, 255);
		margin-right: 10px;

		&:hover {
			background-color: #e7003a;
		}
	}

	& .clear-btn {
		@extend %buttot-style;
		width: 70px;
		background-color: #636375;
		color: rgb(255, 255, 255);

		&:hover {
			background-color: #545464;
		}
	}
}


.error-msg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 235px;
	background-color: rgb(255, 255, 255);
	border: 10px solid rgb(255, 0, 0);
	z-index: 2000;
	display: flex;
	align-items: center;
	justify-content: center;

	&-text {
		font-size: 26px;
		font-weight: 500;

		& div {
			color: rgb(0, 109, 235);
			font-size: 70px;
			font-weight: 800;
		}

		& a {
			font-size: 12px;
		}
	}
}






@media all and (max-width: 768px), all and (max-height: 580px) {
	.wrapper {
		& header {
			height: 50px;
			& .text-logo{
				font-size: 24px;
			}
		}
	
		& footer {
			height: 50px;
			font-size: 14px;
		}
	}
	main {
		padding-top: 20px;
		height: calc(100vh - 100px);

		& table {
			& td {
				font-size: 15px;

				& .data-input {
					font-size: 16px;
				}

				& .pencil {
					width: 18px;
				}
			}
		}
	}
}




@media all and (max-width: 768px) {

	main {
		& table {
			& td {
				& .pencil {
					width: 18px;
					left: 70%;
				}

			}
		}
	}
	.converter-wrap{
		& 	.converter {
			width: auto;
			flex-direction: column;
			align-items: flex-end;
			margin: 0;
	
			&-arrows-btn {
				position: absolute;
				top: 46px;
				right: -72px;
				width: 36px;
				& img {
					transform: rotate(0deg);
				}
			}
	
			&-inputs {
				justify-content: flex-start;
				margin-bottom: 10px;

				& label {
					& span {
						font-size: 16px;
						margin-bottom: 2px;
					}
					& input {
						padding-left: 2px;
						font-size: 16px;				
					}
				}
	
				& select{
					margin-left: 0px;
					font-size: 15px;
				}
			}
		}
		& .calc-btn {
			font-size: 15px;
			height: 34px;
			width: 100px;
		}
	
		& .clear-btn {
			font-size: 15px;
			height: 34px;
			width: 60px;
		}
	}

	.error-msg {
		height: 209px;
	
		&-text {
			font-size: 18px;
			& div {
				font-size: 46px;
			}
		}
	}
}


@media (max-width: 480px), all and (max-height: 537px) {
	.wrapper {
		& header {
			& .text-logo{
				font-size: 18px;
			}
		}
	}

	main {
		& table {
			& td {
				padding: 0px !important;
				font-size: 10px;

				& .data-input {
					font-size: 12px;
				}

				& .pencil {
					top: -10px;
					width: 16px;
					left: 75%;
				}

				& .btn-warp{
					top: -17px;
					left: 48%;
				}
			}
		}
	}

	.converter-wrap{
		& 	.converter {

			&-arrows-btn {
				top: 30px;
				right: -68px;
				width: 30px;
			}
	
			&-inputs {

				&:first-child {
					margin: -11px 0 5px;
				}
				&:last-child {
					margin-bottom: 4px;
				}

				& label {
					& span {
						font-size: 13px;
					}
					& input {
						font-size: 13px;				
					}
				}
	
				& select{
					font-size: 13px;
				}
			}
		}
		& .calc-btn {
			font-size: 13px;
			height: 28px;
			width: 80px;
		}
	
		& .clear-btn {
			font-size: 13px;
			height: 28px;
			width: 55px;
		}
	}

	.error-msg {
		height: 103px;
		border: 5px solid rgb(255, 0, 0);
	
		&-text {
			font-size: 15px;
			& div {
				font-size: 20px;
			}
			a {
				font-size: 9px;
			}
		}
	}
}


@media all and (max-height: 375px) {
	.wrapper {
		& header {
			height: 30px;
			& .text-logo{
				font-size: 18px;
			}
		}
	
		& footer {
			height: 30px;
			font-size: 10px;
		}
	}
	main {
		padding-top: 20px;
		height: calc(100vh - 60px);

		& table {
			& td {
				font-size: 8px;

				& .data-input {
					font-size: 8px;
				}
			}
		}
	}

	.converter-wrap{
		& 	.converter {
			&-arrows-btn {
				top: 10px;
				right: -65px;
				width: 26px;
			}
	
			&-inputs {

				&:first-child {
					margin: -15px 0 0;
				}
				&:last-child {
					margin-bottom: 0;
				}

				& label {
					& span {
						font-size: 9px;
					}
					& input {
						font-size: 9px;				
					}
				}
	
				& select{
					font-size: 10px;
				}
			}
		}
		& .calc-btn {
			font-size: 10px;
			height: 20px;
			width: 70px;
		}
	
		& .clear-btn {
			font-size: 10px;
			height: 20px;
			width: 50px;
		}
	}
}